@{
    ViewData["Title"] = "Shop";
}
<link rel="stylesheet" href="~/css/StyleMenu.css" />
<body>

    <h1 class="title">DANH SÁCH SẢN PHẨM</h1>

    <section id="menu">

        <h2>Xe Điều Khiển</h2>
        <div class="menu-container">
            <!-- Box 1 -->
            <div href="#" class="menu-box">
                <img src="~/img/xe1.jpg" />
                <span>Xe điều khiển từ xa<br />HENNESSEY DK81005</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
            <!-- Box 2 -->
            <div href="#" class="menu-box">
                <img src="~/img/xe2.png" />
                <span>Xe điều khiển từ xa<br />Lamborghini L1</span>
                <div class="price">$60</div>
                <a href="#" class="btn"><i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
            <!-- Box 3 -->
            <div href="#" class="menu-box">
                <img src="~/img/xe3.png" />
                <span>Xe điều khiển từ xa<br />Bugatti DK81006</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>

            <!-- Box 4 -->
            <div href="#" class="menu-box">
                <img src="~/img/xe4.jpg" />
                <span>Xe điều khiển từ xa<br />Batman LT68-2605</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
        </div>

    </section>

    <section id="menu">

        <h2>Mô Hình LEGO</h2>
        <div class="menu-container">
            <!-- Box 1 -->
            <div href="#" class="menu-box">
                <img src="~/img/lego1.jpg" />
                <span>LEGO<br />Classic</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
            <!-- Box 2 -->
            <div href="#" class="menu-box">
                <img src="~/img/lego2.jpg" />
                <span>LEGO<br />Ninjago</span>
                <div class="price">$60</div>
                <a href="#" class="btn"><i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
            <!-- Box 3 -->
            <div href="#" class="menu-box">
                <img src="~/img/lego3.jpg" />
                <span>LEGO<br />Minecraft</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>

            <!-- Box 4 -->
            <div href="#" class="menu-box">
                <img src="~/img/lego4.jpg" />
                <span>LEGO<br />Super Mario</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
        </div>

    </section>
    <section id="menu">

        <h2>Mô Hình Robot</h2>
        <div class="menu-container">
            <!-- Box 1 -->
            <div href="#" class="menu-box">
                <img src="~/img/robot1.jpg" />
                <span>Mô hình Robot<br />IRONHIDE BMB LS-09</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
            <!-- Box 2 -->
            <div href="#" class="menu-box">
                <img src="~/img/robot2.jpg" />
                <span>Mô hình Robot<br />Bumblebee</span>
                <div class="price">$60</div>
                <a href="#" class="btn"><i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
            <!-- Box 3 -->
            <div href="#" class="menu-box">
                <img src="~/img/robot3.jpg" />
                <span>Ratchet JH-01<br />Optimus Prime</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>

            <!-- Box 4 -->
            <div href="#" class="menu-box">
                <img src="~/img/robot4.jpg" />
                <span>Mô hình Robot<br />Ratchet JH-01</span>
                <div class="price">$60</div>
                <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"> Mua ngay</i></a>
            </div>
        </div>

    </section>
</body>