@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/StyleHome.css" />

</head>
<body>
    <div class="text-center">
        <p>Cửa hàng đồ chơi</p>
        <h1 class="display-4">TOYS</h1>
    </div>


</body>


